.title {
  font-weight: bold;
  font-size: 3rem;

  color: var(--heading);

  letter-spacing: -0.5px;
}

.mini-title {
  font-weight: bold;
  font-size: 1.75rem;

  color: var(--heading);

  letter-spacing: -0.5px;
}

.heading {
 font-weight: bold;
 font-size: 2.25rem;

 color: var(--heading);
}

.info {
  font-size: 1.25rem;

  color: var(--info);
}

.text {
  font-size: 1.125rem;

  color: var(--body);
}
